.girl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 530px;
  cursor: pointer;
  overflow: hidden;
}
.girl svg{
  max-width: 800px;
  height: auto;
  overflow: hidden;
}

@media (max-width: 700px) {
  .girl {
    height: 250px;
  }

  .girl svg {
    padding: 18px;
  }
}

.line, .dot, .letter, .circle {
  opacity: 0;
}

section[data-scroll="in"] .girl .line {
  opacity: 1;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: dash 1s linear forwards;
}

section[data-scroll="in"] .girl .dot {
  opacity: 1;
  transition: opacity 0.3s;
  transition-delay: 1s;
}

section[data-scroll="in"] .girl .circle {
  opacity: 1;
  transition: opacity 0.5s;
  transition-delay: 1s;
}

section[data-scroll="in"] .girl .letter {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 1.5s;
}

@keyframes dash {
  
  from {
    stroke-dashoffset: -1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}